This exercise will require you to pull some data from https://data.nasdaq.com/ (formerly Quandl API).

As a first step, you will need to register a free account on the https://data.nasdaq.com/ website.

After you register, you will be provided with a unique API key, that you should store:

*Note*: Use a `.env` file and put your key in there and `python-dotenv` to access it in this notebook. 

The code below uses a key that was used when generating this project but has since been deleted. Never submit your keys to source control. There is a `.env-example` file in this repository to illusrtate what you need. Copy that to a file called `.env` and use your own api key in that `.env` file. Make sure you also have a `.gitignore` file with a line for `.env` added to it. 

The standard Python gitignore is [here](https://github.com/github/gitignore/blob/master/Python.gitignore) you can just copy that.

In [11]:
NASDAQ_API_KEY = 'Uc9XKyrRTAf189L1XaBH'

In [12]:
# get api key from your .env file
import os
from dotenv import load_dotenv

load_dotenv()
NASDAQ_API_KEY = os.getenv('NASDAQ_API_KEY')

print(NASDAQ_API_KEY)

ModuleNotFoundError: No module named 'dotenv'

Nasdaq Data has a large number of data sources, but, unfortunately, most of them require a Premium subscription. Still, there are also a good number of free datasets.

For this mini project, we will focus on equities data from the Frankfurt Stock Exhange (FSE), which is available for free. We'll try and analyze the stock prices of a company called Carl Zeiss Meditec, which manufactures tools for eye examinations, as well as medical lasers for laser eye surgery: https://www.zeiss.com/meditec/int/home.html. The company is listed under the stock ticker AFX_X.

You can find the detailed Nasdaq Data API instructions here: https://docs.data.nasdaq.com/docs/in-depth-usage

While there is a dedicated Python package for connecting to the Nasdaq API, we would prefer that you use the *requests* package, which can be easily downloaded using *pip* or *conda*. You can find the documentation for the package here: http://docs.python-requests.org/en/master/

Finally, apart from the *requests* package, you are encouraged to not use any third party Python packages, such as *pandas*, and instead focus on what's available in the Python Standard Library (the *collections* module might come in handy: https://pymotw.com/3/collections/).
Also, since you won't have access to DataFrames, you are encouraged to us Python's native data structures - preferably dictionaries, though some questions can also be answered using lists.
You can read more on these data structures here: https://docs.python.org/3/tutorial/datastructures.html

Keep in mind that the JSON responses you will be getting from the API map almost one-to-one to Python's dictionaries. Unfortunately, they can be very nested, so make sure you read up on indexing dictionaries in the documentation provided above.

In [2]:
# First, import the relevant modules
import requests
import json

Note: API's can change a bit with each version, for this exercise it is reccomended to use the nasdaq api at `https://data.nasdaq.com/api/v3/`. This is the same api as what used to be quandl so `https://www.quandl.com/api/v3/` should work too.

Hint: We are looking for the `AFX_X` data on the `datasets/FSE/` dataset.

In [30]:
# Now, call the Nasdaq API and pull out a small sample of the data (only one day) to get a glimpse
response = requests.get('https://www.quandl.com/api/v3/datasets/FSE/AFX_X.json?&start_date=2022-01-01&end_date=2023-01-01&api_key='+NASDAQ_API_KEY)

# into the JSON structure that will be returned
response.text

'{"dataset":{"id":10095370,"dataset_code":"AFX_X","database_code":"FSE","name":"Carl Zeiss Meditec (AFX_X)","description":"Stock Prices for Carl Zeiss Meditec (2020-11-02) from the Frankfurt Stock Exchange.\\u003cbr\\u003e\\u003cbr\\u003eTrading System: Xetra\\u003cbr\\u003e\\u003cbr\\u003eISIN: DE0005313704","refreshed_at":"2020-12-01T14:48:09.907Z","newest_available_date":"2020-12-01","oldest_available_date":"2000-06-07","column_names":["Date","Open","High","Low","Close","Change","Traded Volume","Turnover","Last Price of the Day","Daily Traded Units","Daily Turnover"],"frequency":"daily","type":"Time Series","premium":false,"limit":null,"transform":null,"column_index":null,"start_date":"2022-01-01","end_date":"2020-12-01","data":[],"collapse":null,"order":null,"database_id":6129}}'

In [19]:
# Inspect the JSON structure of the object you created, and take note of how nested it is,
# as well as the overall structure
data = response.json()

These are your tasks for this mini project:

1. Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 (keep in mind that the date format is YYYY-MM-DD).
2. Convert the returned JSON object into a Python dictionary.
3. Calculate what the highest and lowest opening prices were for the stock in this period.
4. What was the largest change in any one day (based on High and Low price)?
5. What was the largest change between any two days (based on Closing Price)?
6. What was the average daily trading volume during this year?
7. (Optional) What was the median trading volume during this year. (Note: you may need to implement your own function for calculating the median.)

In [42]:
#1. Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 (keep in mind that the date format is YYYY-MM-DD).

response_2017 = requests.get('https://www.quandl.com/api/v3/datasets/FSE/AFX_X.json?&start_date=2017-01-01&end_date=2017-12-31&api_key='+NASDAQ_API_KEY)

In [43]:
#2. Convert the returned JSON object into a Python dictionary.

_dict = response_2017.json()
print(type(_dict))

<class 'dict'>

In [37]:
url = "https://www.quandl.com/api/v3/datasets/FSE/AFX_X/data.json?" + \
      "&start_date=2017-01-01&end_date=2017-12-31&api_key=" + NASDAQ_API_KEY
req = requests.get(url)

In [38]:
json_data = req.json()

In [39]:
import pandas as pd
data_cols = json_data["dataset_data"]["column_names"]
data_rows = json_data["dataset_data"]["data"]
df = pd.DataFrame(data_rows, columns=data_cols)
df.head()

,Date,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
0,2017-12-29,51.76,51.94,51.45,51.76,NaN,34640.0,1792304.0,None,None,None
1,2017-12-28,51.65,51.82,51.43,51.60,NaN,40660.0,2099024.0,None,None,None
2,2017-12-27,51.45,51.89,50.76,51.82,NaN,57452.0,2957018.0,None,None,None
3,2017-12-22,51.05,51.50,50.92,51.32,NaN,71165.0,3641949.0,None,None,None
4,2017-12-21,51.16,51.52,50.90,51.40,NaN,120649.0,6179433.0,None,None,None

In [44]:
#3. Calculate what the highest and lowest opening prices were for the stock in this period.

# Extracting opening prices from the data
opening_prices = [price[1] for price in data if price[1] is not None]

# Calculating the highest and lowest opening prices
highest_opening_price = max(opening_prices)
lowest_opening_price = min(opening_prices)

print(f'Highest Opening Price: {highest_opening_price}')
print(f'Lowest Opening Price: {lowest_opening_price}')

Highest Opening Price: 53.11
Lowest Opening Price: 34.0

In [46]:
df['Open'].max()

53.11

In [47]:
df['Open'].min()

34.0

In [62]:
#4. What was the largest change in any one day (based on High and Low price)?
#Initiliaze a variable, iterates through each row in data, retrieves high ad low prices of current row, subtracts high from low 
#in variable change, 
largest_change = 0
for row in data:
    high = row[2]
    low = row[3]
    change = high - low
    if(change >= largest_change):
        largest_change = change
        
print(f'Largest change in any one day is: {largest_change}')

Largest change in any one day is: 2.8100000000000023

In [65]:
#5. What was the largest change between any two days (based on Closing Price)?

largest_change = 0
for i in range(1, len(data)):
    high_today = data[i-1][2]
    low_tomorrow = data[i][3]
    change = abs(high_today - low_tomorrow)
    if(change >= largest_change):
        largest_change = change
        
print(f'Largest change in any two days is: {largest_change}')

Largest change in any two days is: 3.530000000000001

In [69]:
#5. What was the largest change between any two days (based on Closing Price)?

closing_prices = [entry[4] for entry in data]
largest_change = max(abs(closing_prices[i+1] - closing_prices[i]) for i in range(len(closing_prices)-1))

print(f'Largest change in any two days is: {largest_change}')

Largest change in any two days is: 2.559999999999995

In [75]:
#6. What was the average daily trading volume during this year?
total_sum = 0
for row in data:
    total_sum += row[6]
    average_trading_volume = (total_sum/len(data))

print(f'The average daily trading volume during this year is: {average_trading_volume}')

The average daily trading volume during this year is: 89124.33725490196

In [76]:
#7. (Optional) What was the median trading volume during this year. (Note: you may need to implement your own function for calculating the median.)
import numpy as np

trading_volumes = [entry[6] for entry in data]
median_trading_volume = np.median(trading_volumes)

print(f'The average median trading volume during this year is: {median_trading_volume}')

The average median trading volume during this year is: 76286.0